@{
    ViewData["Title"] = "Cadastro de Cliente";
}
<div id="registerClient">
       <div class="container">
          <div class="row">
              <div>
                  <h1>Cadastro de Clientes</h1>
              </div>
              <div>
                   <label>Nome:</label>
                   <input type="text" v-model="name" placeholder="Nome"/>
              </div>
            <div>
                <label>Cpf:</label>
                <input type="text" v-model="cpf" placeholder="Cpf" />
            </div>
            <div>
                <label>E-mail:</label>
                <input type="text" v-model="email" placeholder="E-mail" />
            </div>
            <div>
                <label>Senha:</label>
                <input type="password" v-model="password" placeholder="Senha" />
            </div>
            <div>
                <label>Data de Nacimento:</label>
                <input type="date" v-model="dateOfBirth"/>
            </div>
            <div>
                <label>Telefone:</label>
                <input type="text" v-model="phone" placeholder="Telefone" />
            </div>
          </div>
        <input type="button" class="btn btn-success" name="name" value="Cadastrar" v-on:Click="registerClient" />
       </div>
</div>
<script src="~/lib/vue/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
   Registerclient = new Vue({
      el: '#registerClient',
      data() {
        return {
            id:0,
          name: '',
          email: '',
          password: '',
          cpf:'',
          dateOfBirth:'',
          phone:''
        };
      },
      methods: 
      {
        registerClient() {
          const client = {
             Id:this.id,
             Name: this.name,
             Email: this.email,
             Password: this.password,
             Cpf: this.cpf,
             DateOfBirth: this.dateOfBirth,
             Phone: this.phone
          };

           axios.post('/Client/InsertClient', client,{
              headers: {
              'Content-Type': 'application/json'
            }})
            .then(response => {
              alert('Cadastro realizado com sucesso!');
              //Ajustar mensagem e layout 
            })
            .catch(error => {
              console.error('Erro ao  cadastrar:', error);
            });
        },
          editMode(idClient){
               let idOldClient = idClient;
                axios.post('/Client/EditClient', idOldClient,{
               headers: {
               'Content-Type': 'application/json'
             }})
             .then(response => {
                this.id = response.data.id;
                this.name= response.data.name;
                this.email= response.data.email;
                this.password= response.data.passWord;
                this.cpf= response.data.cpf;
                 this.dateOfBirth= response.data.dateOfBirth;
                this.phone= response.data.phone;
             })
             .catch(error => {
               console.error('Erro ao  cadastrar:', error);
             });
         },
         getQueryString(){
            let urlParams = new URLSearchParams(window.location.search);

            if(urlParams.has('id')){
                 let idClient = Number(urlParams.get('id'));
                  this.editMode(idClient);
            }
                  

                
     
         }
      },
      mounted(){
          this.getQueryString();
      }
    });
</script>