@{
    ViewData["Title"] = "Cadastro de Cliente";
}
<div id="registerClient">
       <div class="container">
          <div class="row">
              <div>
                   <label>Nome:</label>
                   <input type="text" v-model="name" placeholder="Nome"/>
              </div>
            <div>
                <label>E-mail:</label>
                <input type="text" v-model="email" placeholder="E-mail" />
            </div>
            <div>
                <label>Senha:</label>
                <input type="password" v-model="password" placeholder="Senha" />
            </div>
          </div>
            <input type="button" class="btn btn-success" name="name" value="cadastrar" v-on:Click="cadastrar" />
       </div>
</div>
<script src="~/lib/vue/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
   Registerclient = new Vue({
      el: '#registerClient',
      data() {
        return {
           name: '',
          email: '',
          password: '',
        };
      },
      methods: {
        cadastrar() {
          const client = {
             Name: this.name,
             Email: this.email,
             Password: this.password
          };

          axios.post('/Client/RegisterNewClient', client,{
              headers: {
              'Content-Type': 'application/json'
            }})
            .then(response => {
              alert('Cadastro realizado com sucesso!');
            })
            .catch(error => {
              console.error('Erro ao  cadastrar:', error);
            });
        }
      }
    });
</script>