@{
    ViewData["Title"] = "Cadastro de Cliente";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Cliente</h1>
    <form>
        <div class="container">
            <div class="col-4">
                <label id="lblname">Nome:</label>
                <input type="text" class="form-control" placeholder="Nome"/>
            </div>
            <div class="col-4">
                <label id="lblPhone">Telefone:</label>
                <input type="text" class="form-control" placeholder="Telefone" />
            </div>
            <div class="col-4">
                <label id="lblDateOfBird">Data de Nascimento:</label>
                <input type="date" class="form-control"/>
            </div>
            <div class="col-4">
                <label id="lblEmail">E-mail:</label>
                <input type="text" class="form-control" placeholder="E-mail" />
            </div>
            <div class="col-4">
                <label id="lblPassWord">Senha:</label>
                <input type="password" class="form-control" placeholder="Senha" />
            </div>
            <div class="col-4 p-2">
                <button class="btn btn-success">
                    Cadastrar
                </button>
            </div>
        </div>

    </form>
</div>