.schedule-container {
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 10px; 
}

.scheduling-button-wrapper {
    flex: 1 1 20%; /* Ajusta a porcentagem para controlar o número de botões por linha */
    display: flex;
    justify-content: center;
}

.scheduling-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scheduling-container button:hover {
        background-color: #0056b3;
    }

.indisponivel {
    background-color: #dc3545; /* Cor de fundo para "Indisponível" */
    text-decoration: line-through; /* Riscar o texto */
}

.indisponivel:hover {
        background-color: #c82333; /* Cor ao passar o mouse em "Indisponível" */
    }

.card-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}


.schedule-grid {
    display: grid;
    grid-template-columns: auto repeat(7, minmax(100px, 1fr)); /* Primeira coluna fixa, outras 7 ajustáveis */
    gap: 8px;
    align-items: center;
    text-align: center;
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
    max-width: 100%; /* Evita estouro para fora da div */
}


.week-day-header {
    font-weight: bold;
    padding: 5px;
}

.time-slot {
    font-weight: bold;
    padding: 5px;
}

.schedule-cell {
    display: flex;
    justify-content: center;
}

.btn-success, .btn-secondary {
    min-width: 80px;
    border-radius: 5px;
}

/* Estilização para o modo mobile */
.mobile-schedule {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-day-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.week-day-button:hover {
        background-color: #0056b3;
    }

.mobile-schedule-list {
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}



.employee-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 576px) { /* Telas pequenas (sm) */
    .employee-img {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 768px) { /* Telas médias (md) */
    .employee-img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 992px) { /* Telas grandes (lg) */
    .employee-img {
        width: 160px;
        height: 160px;
    }
}

@media (min-width: 1200px) { /* Telas extra grandes (xl) */
    .employee-img {
        width: 380px;
        height: 380px;
    }
}

