/* _content/BarberShopSystem/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1q0t3eoltf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1q0t3eoltf] {
  color: #0077cc;
}

.btn-primary[b-1q0t3eoltf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1q0t3eoltf], .nav-pills .show > .nav-link[b-1q0t3eoltf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1q0t3eoltf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1q0t3eoltf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1q0t3eoltf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html[b-1q0t3eoltf], body[b-1q0t3eoltf] {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container-layout[b-1q0t3eoltf] {
    flex: 1;
}

footer[b-1q0t3eoltf] {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
